button {
  padding: 10px;
  margin: 10px;
  border: 1px solid #292929;
  text-transform: uppercase;
}
/* .btn-primary {
  background: #934d68 !important;
  
}
.btn-warning {
  background: #740000 !important;
} */